<div class="btn-group-vertical">
  <button class="btn btn-dark" [routerLink]="['/binding-events']">Binding Events</button>
  <button class="btn btn-dark" [routerLink]="['/comunicacion-componentes']">Comunicacion Componentes</button>
  <button class="btn btn-dark" [routerLink]="['/directivas']">Directivas</button>
  <button class="btn btn-dark" [routerLink]="['/servicios']">Servicios ParamMap QueryMaps</button>
  <button class="btn btn-dark" [routerLink]="['/pipes']">Pipes</button>
  <button class="btn btn-dark" [routerLink]="['/pipes-pruebas',2]">Pasando valores URL</button>
  <!--Parametros ?variable=valor&variable=valor-->
  <button class="btn btn-dark" [routerLink]="['/pipes-pruebas',2]" [queryParams]="{nuevo:'carro', website:'urlsss'}">
    Pasando & ? parametros URL
  </button>
  <button class="btn btn-dark" [routerLink]="['/formularios-tdf']">Formularios template drive forms</button>
  <button class="btn btn-dark" [routerLink]="['/formularios-rf']">Formularios Reactive Forms</button>
  <button class="btn btn-dark" [routerLink]="['/proyeccion-contenido']">Proyeccion de contenido</button>
  <button class="btn btn-dark" [routerLink]="['/viewchild']">ViewChild</button>
</div>

<router-outlet></router-outlet>
