<app-binding-eventos></app-binding-eventos>


<hr>

<app-comunicacion-componentes></app-comunicacion-componentes>

<hr>

<app-directivas></app-directivas>


<hr>
<app-pipes></app-pipes>

<hr>
<h1>Lista de posts con funcion desde el componente</h1>
<ul>
  <li *ngFor="let lista of listaDePosts.slice(0,5)">
    <p>{{lista.userId}}</p>
    <p>{{lista.title}}</p>
  </li>
</ul>

<h1>Lista de comentarios con variable como observable</h1>
<ul>
  <!--El pipe async permitira desemvolver la data del observable-->
  <li *ngFor="let comentario of listaDeComenarios$ | async">
    <p>{{comentario.postId}}</p>
    <p>{{comentario.name}}</p>
  </li>
</ul>

<h1>Crando nuevos post</h1>
<p>Titulo, enter y mira la respuesta por consola</p>
<input type="text" [(ngModel)]="inputNewPost" (keyup.enter)="createNewPost()" placeholder="Titulo para el post y enter" class="form form-control">
